.backmost{
    height: 100vh;
    background-color: rgb(207, 207, 207);
    position: absolute;
    top: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none; 
    
}
#horiz{
    height: 45%;
    position: static;
    background-color: rgba(3, 135, 3, 0.814);
    margin-top: 150px ;
    margin-left: -20px;
    margin-right: -10px;
    max-width: 100wh;
    box-sizing: border-box;
    border: none;
    z-index: -100;

}
.main{
    width:60%;
    height: 100vh;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: -395px;
    padding: 0px;

}