.App {
  text-align: center;
}
.Intro{
  background-image: linear-gradient(to right , rgb(60, 60, 41) , rgb(0, 0, 0));
  height: 50vh;
}
.Tagline{
  font-family: sans-serif;
  font-weight:bold;
   font-size:40px;
   text-align:left;
   color:rgb(233, 188, 109);
   height: 100%;
   padding: 100px ;
   padding-left: 60px;
}
#post{
  width: 700px;
  margin-bottom: 20px;
  align-self: center;

}